.row {
    margin-left: 20px;
    color: #fff;
}

.posters {
    display: flex;
    padding: 20px;
    overflow-x: auto; /* Allow horizontal scrolling */
    overflow-y: hidden;
    scroll-snap-type: x mandatory; /* Ensures posters snap into place when scrolling */
}

.posters::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

.poster, .smallPoster {
    flex-shrink: 0; /* Prevent posters from shrinking */
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    scroll-snap-align: start; /* Align posters at the start of the scroll area */
}

.poster {
    max-height: 250px;
}

.smallPoster {
    max-height: 150px;
}

.poster:hover {
    transform: scale(1.1);
}

.smallPoster:hover {
    transform: scale(1.09);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .poster {
        max-height: 200px;
    }
    .smallPoster {
        max-height: 120px;
    }
}

@media (max-width: 480px) {
    .poster {
        max-height: 150px;
    }
    .smallPoster {
        max-height: 100px;
    }
}
